@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: whitesmoke;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb{
  background-color: #333F47;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid whitesmoke;  /* creates padding around scroll thumb */
}


span.irs-bar.irs-bar--single {

    background: #FFB67A;
    height: 6px;
    margin-top: 1px;
    border: none;

}


span.irs-handle.single {
    width: 14px;
    height: 14px;
    top: 22px;
    background: white;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single{

  color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #484848;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
}

.left_chart .form-group.shiny-input-container label{
  display: none;
}

*{
  font-family: 'Exo 2', sans-serif;
}

h1,h2,h3,h4,h5,h6{
      font-family: 'Exo 2', sans-serif;
      text-transform: uppercase;
}

body{
    height: fit-content !important;
    padding: 2em;
    background-color: #e2cca3;
    background-image:
    radial-gradient(at 47% 33%, hsl(39.75, 75%, 73%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(197.95, 51%, 93%) 0, transparent 55%);

    background: #ffdaa1;
    background: -webkit-linear-gradient(113deg, #ffdaa1 0%, #a8f0ff 50%, #a8ced5 100%);
    background: linear-gradient(113deg, #ffdaa1 0%, #a8f0ff 50%, #a8ced5 100%);
}


.container-fluid {

    height: fit-content;
    border-radius: 10px;

    border:2px solid;
    background: rgba(255,255,255,0.25);
-webkit-backdrop-filter: blur(8px);
backdrop-filter: blur(8px);
border: 1px solid rgba(255,255,255,0.125);


padding:0px;


}

#main_grid_panel{
    height: fit-content;
        width: 100%;
    justify-content: center;

}

.main_grid_panel > .overview {
    grid-area: overview;
    height: fit-content;


}

#main_grid_panel {
    height: fit-content;
/*    grid-template-columns: 750px  1fr;*/
}





.overview,
.top_right,
.bottom_right_one,
.bottom_right_two{
  /* From https://css.glass */
background: white;
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(241, 224, 224, 0.67);

padding: 1em;
}

.left_chart{
    text-align: left;
}
.right_chart{
    text-align: right;
    margin-bottom: 1em;
}

.right_chart .form-group.shiny-input-container.shiny-input-checkboxgroup.shiny-input-container-inline {
    display: flex;
    justify-content: end;
    gap: 0.75em;
    font-size: .75em;
    align-items: baseline;
}

.right_chart button{
  color: #484848 !important;
  background: #FFB67A !important;
  border: none !important;
  margin-left: 0.25em !important;
}

.right_chart .rt-pagination-nav button {
    padding: 0.25em !important;
    font-size: smaller !important;
}

.main_title_div{

padding: 2em;display: flex;
justify-content: space-between;
}


.main_title{
letter-spacing:  0px; font-weight: 300;'
}


.typewriter{
  display: inline-block;
}

.typewriter .animated_div{
  font-size: 4em;
  font-weight: 400;
  letter-spacing:   2px;
  white-space: break-spaces;
  width: 100%;
  overflow: hidden;
  /*border-right: .1em solid orange;*/
  animation: blink .3s  infinite alternate, typing 3s steps(20);
}

@keyframes blink{

50%{
  border-color: transparent;
}

}

@keyframes typing{

from{
 width: 0%;
}
}



.small_boxes {

    display: grid;
    grid-template-areas:
        'season season'
        'one two'
        'three four';
    gap: 2em;
}


.attrition{

  display: flex;
    justify-content: space-between;
    padding: 1em;
}

.attrition .form-group {
    margin-bottom: 15px;
    display: flex;


}

.attrition .form-group label{
      max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Exo 2';
    font-weight: 500;
    margin: 0 0.25em;

}


.attrition .form-group button {
    background: #FFB67A;
    color: #484848;
    font-weight: 700;
    border: none;
    margin: 0 0.05em;
}

/**/

#top_right-cards_top_right {
    height: 350px;
    overflow-y: scroll;
}

.top_right .form-group.shiny-input-container{
width: 13rem !important;
    margin: 0 auto;
}
.top_right .cards_scroll {
    height: 400px;
    overflow: scroll;
}

.cards_scroll{
    height: 400px;
    overflow-y: scroll;

}

  .div_result{
      width: 100%;
      height: 100px;
      display: flex;
      gap: 3em;
  }

  .competitions_logo {
    text-transform: capitalize;
    font-size: 0.85em !important;
}

  .top_right_card_center > p {
    letter-spacing: .15em;
    line-height: .5em;
    font-family: 'Exo 2';
}

.top_right_card_right{
    flex: 1;
    text-align: left;
    font-weight: 900;
    margin-top: 2em;
}

/*BOTTOM RIGHT DIV */

.bottom_right_one .form-group,
.bottom_right_two .form-group{
    display: flex;
    justify-content: end;
    gap: 0.75em;
}


.bottom_right_one  button,
.bottom_right_two  button
{
  color: #484848 !important;
  background: #FFB67A !important;
  border: none !important;
  margin-left: 0.25em !important;
}
.bottom_right_one .rt-pagination-nav button,
.bottom_right_two .rt-pagination-nav button{
    padding: 0.25em !important;
    font-size: smaller !important;
}

.bottom_right_one h5,
.bottom_right_two h5
{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1350px){

#main_grid_panel {
    grid-template-areas:
        'overview '
        'top_right '
        'bottom_right_two '
        'bottom_right_one';
}
}

/*@media screen and (max-width: 1300px) and (min-width: 1000px) {

.top_right,
.bottom_right_one,
.bottom_right_two {



  }*/

 /* #main_grid_panel {
    height: fit-content;
    margin: 0px;
    padding-left: 2em;
    gap: 1em;
}
}*/

/*@media screen and (min-width: 1300px) {


.container-fluid {
    height: fit-content;
    border-radius: 10px;
    border: 2px solid;
    background: rgba(255,255,255,0.25);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.125);
    padding: 0 0 0 2em !important;
    margin: 0 auto;
}



#main_grid_panel {

    grid-template-columns: 900px auto;
    border:5px solid red;
}

.top_right{
  width: fit-content !important;
}

}
*/
